# ===============================
# PYTHON
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
dist/
build/

# ===============================
# VIRTUAL ENV
# ===============================
venv/
.env/
.venv/
env/

# ===============================
# FLASK
# ===============================
instance/
.webassets-cache
flask_session/
*.log

# ===============================
# DATABASE
# ===============================
*.sqlite3
*.db

# ===============================
# MIGRATIONS
# ===============================
migrations/versions/__pycache__/

# ===============================
# IDE / EDITOR
# ===============================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# TESTS
# ===============================
.pytest_cache/
.coverage
htmlcov/

# ===============================
# ENV FILES
# ===============================
.env
.env.*

# ===============================
# MISC
# ===============================
*.tmp
*.swp
*.bak
